body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif; /* Open Sans als Schriftart */
    color: white; /* Standardfarbe des Textes auf der Seite */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


table {
    border-collapse: collapse; /* Zusammenführen der Zellenränder */
    background-color: transparent; /* Kein Hintergrund der Tabelle */
}
td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 2em;
    border: 5px solid white; /* 5px dicke weiße Linie nur zwischen den Zellen */
    cursor: pointer;
}
td:hover:empty {
    background-color: rgba(255, 255, 255, 0.2); /* Leichter weißer Hintergrund */
}
.circle {
    color: #00BEEF; /* Neon-Blau */
    text-shadow: 0 0 10px #00BEEF, 0 0 20px #00BEEF, 0 0 30px #00BEEF;
}
.cross {
    color: #FFFF00; /* Neon-Gelb */
    text-shadow: 0 0 10px #FFFF00, 0 0 20px #FFFF00, 0 0 30px #FFFF00;
}